---
import BaseLayout from './baseLayout.astro';
import '../styles/event.css'
import '../styles/components.css'

const { frontmatter, data } = Astro.props;
const BASE_URL = import.meta.env.BASE_URL

---
<BaseLayout page_title={frontmatter.eventName} >

  <div>
    <!-- <img src={BASE_URL + {frontmatter.eventPoster.src}} width="300" alt={frontmatter.eventPoster.alt} /> -->
    <img src={frontmatter.eventPoster.src} width="300" alt={frontmatter.eventPoster.alt} />

  </div>

  <div>
    <p><em>{frontmatter.description}</em></p>

    <slot />
  </div>

  <div class="primary-container">
    <div class="tags">
      {frontmatter.tags.map((tag: string) => (
        <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
      ))}
    </div>

  </div>

</BaseLayout>


